
<!-- <div class="aboutrow">
		<div class="container">
			<div class="row">
				<div class="col-md-5 "><img src="../../assets/images/image_about_us.svg"
					  alt="C360" class="wow fadeInUp animated" title="C360" width="100%" height="100%"> </div>
				<div class="col-md-7 d-flex align-items-center">
					<div class="pad_l30">
						<div class="pad_b20">
							<h3 class="wow fadeInUp animated">About</h3> <img src="../../assets/images/logowhite.png"
							 alt="C360" title="C360" class="wow fadeInUp animated"> </div>
						<p class="wow fadeInUp animated">C360 Software is a global services company with leading capabilities in AI, cloud. C360 Software Team works with the C-Suite of the Fortune 500 to drive transformational business growth. C360 delivers services for developing, deploying, and operating large-scale AI and Cloud.</p>
						<p><a href="aboutus.html" class="wow fadeInUp animated">View More</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div> -->




	<!-- <div class="container" style="position:fixed;

    width:1200px;
     margin:100px;
	 height:50px; 
	margin-top:100px;
	margin-left: 0px;
	margin-right:0px;">
		<img src="../../assets/images/transbg.jpg"height="380px;position: absolute; left: 10%;" >
		<div style= "
			position: absolute;
			top: 1800px;
			text-align: center;
			font-size: 40px;
			margin-left:30px;
			color:white;

			left: 16px;">Transform Your Enterprise
		</div>


	</div> -->

 <div class="transrow">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4 class="wow fadeInUp animated">Tranform Your Enterprise</h4> </div>
            <div class="col-md-3"> <a href="#" class="wow fadeInUp animated" data-toggle="modal" data-target="#get_trained">Talk with us</a> </div>
        </div>
    </div>
</div> 