<div class="herobanner">
    <div class="container">
        <div class="show-on-scroll">
            <div class="header">
                <div class=""> 
                <h1 class=""><br><br>

The Future of<br>
<span> AI </span> Is here </h1>
                <p><a href="#" class="" data-toggle="modal" data-target="#get_trained">Get In Touch</a> </p>
             </div>
        </div>
    </div>
    <div class="globe zoom">
        <img src="../../assets/images/world.svg"
           class="" alt="C360 soft" title="C360 soft" width="2000" height="556"> </div>
</div>