<footer class="footer">
    <div class="container"style="margin-top: 200px;">
      <div class="row">
        <div class="col-md-4">
            <img src="../../assets/images/logowhite.png" alt="C360" class="" title="C360">
            <br><br><br>
          <div class="social">
            <a href="https://www.facebook.com/c360soft" target="_blank" > <img src="../../assets/images/fb.png "alt="Logo" style="margin-right:20px;" class=""></a>
            <a href="https://www.instagram.com/c360soft/" target="_blank"> <img src="../../assets/images/insta.png"alt="Logo" style="margin-right:20px;" class=""></a>
            <a href="https://twitter.com/c360soft" target="_blank"><img src="../../assets/images/tweet.png"alt="Logo" style="margin-right:20px;"class=""></a>
            <a href="https://www.linkedin.com/company/72061400/" target="_blank"><img src="../../assets/images/in.png"alt="Logo" style="margin-right:20px;" class=""></a>
            
                            </div>
          </div>
          <div class="col-md-4">
            <ul style=" list-style-type: none;">
        <li> <a href="artificial-intelligence.html" style="color:black"  >    Services</a> </li><br>
        <li> <a href="healthcare.html" style="color:black">    Industries</a> </li><br>
        
        <li> <a href="careers.html" style="color:black">Careers</a> </li><br>
        <li> <a href="aboutus.html" style="color:black">About</a> </li><br>
</ul>
          </div>
          <div class="col-md-4">
            <ul style=" list-style-type: none;">
              <li> <a href="artificial-intelligence.html" style="color:black" >Artificial Intelligence</a> </li><br>
              <li> <a href="application-services.html" style="color:black" >Application Services </a> </li><br>
            
              <li> <a href="cloud-services.html" style="color:black" >    Cloud Services</a> </li><br>
              <li> <a href="data-analytics.html" style="color:black" >Data Analytics</a> </li><br>
</ul>
          </div>
          </div>
<br>

          <div class="copy">
            <div class="row">
              <div class="col-md-6"> Copyright 2021 C360Soft.ai</div>
              <div class="col-md-6 text-right"> <a href="privacy-policy.html" style="color:black">Privacy Policy </a> </div>
            </div> 
          </div>
      </div>
  </footer>
