
	<div class="sticky-stopper"></div>
	<div class="industriesrow">
		<div class="container">
			<h2 class="titleone wow fadeInUp animated">Industries</h2>
			<div class="industriestabs">
				<ul class="nav nav-tabs wow fadeInUp animated">
					<li class="">
						<a data-toggle="tab" href="#finance" class="active"> <span class="fi-icon"> <i></i> </span> Finance</a>
					</li>
					<li>
						<a data-toggle="tab" href="#healthcare"> <span class="he-icon"> <i></i> </span>HealthCare</a>
					</li>
					<li>
						<a data-toggle="tab" href="#supply"> <span class="su-icon"> <i></i> </span>Supply Chain &
							<br> Logistics</a>
					</li>
					<li>
						<a data-toggle="tab" href="#manufacturing"> <span class="ma-icon"> <i></i> </span>Manufacturing</a>
					</li>
					<li>
						<a data-toggle="tab" href="#retail"> <span class="re-icon"> <i></i> </span>Retail</a>
					</li>
					<li>
						<a data-toggle="tab" href="#telecommunications"> <span class="te-icon"> <i></i> </span>Telecommunications</a>
					</li>
					<li>
						<a data-toggle="tab" href="#automobile"> <span class="au-icon"> <i></i> </span>Automobile</a>
					</li>
					<li>
						<a data-toggle="tab" href="#education"> <span class="ed-icon"> <i></i> </span>Education</a>
					</li>
					<li>
						<a data-toggle="tab" href="#insurance"> <span class="in-icon"> <i></i> </span>Insurance</a>
					</li>
					<li>
						<a data-toggle="tab" href="#marketing"> <span class="mar-icon"> <i></i> </span>Marketing</a>
					</li>
				</ul>


				<div class="tab-content">
					<div id="finance" class="tab-pane fade in active">
						<div class="induinfo wow fadeInUp animated">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/finance1.jpg"alt="Finance" title="Finance" width="100%" height="100%"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h5>Finance</h5>
										<h4>AI is Transforming the Finance Industry</h4>
										<ul class="ullist">
											<li>Artificial Intelligence can be used abundantly inprocesses which involve auditing of financialtransactions </li>
											<li>AI also has the capability to identify how customersare going to react to various situationsand problems</li>
											<li>Risk Assessment,Fraud Detection And Management,FinancialAdvisoryServices,Trading,Managing Finance </li>
										</ul>
										<p><a href="finance.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="healthcare" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/finance.jpg"alt="Healthcare" title="Healthcare" class=""></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h5>Healthcare </h5>
										<h4>AI IN HEALTHCARE</h4>
										<ul class="ullist">
											<li>Artificial intelligence simplifies the lives of patients,doctors and hospital administrators byperforming tasks that are typically done by humans </li>
											<li>AI offers a number of advantages over traditionalanalytics and clinical decision-makingtechniques</li>
											<li>Learning algorithms can become more precise and accurateas they interact with trainingdata, allowing humans to gain unprecedented insightsinto diagnostics. </li>
										</ul>
										<p><a href="healthcare.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="supply" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/supplychain-.jpg" alt="Supply chain and Logistics" title="Supply chain and Logistics"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Supply chain and Logistics</h4>
										<ul class="ullist">
											<li>With their ability to handle mass data, AI driven tools can prove to be highly effective in inventory management.</li>
											<li>AI systems can also solve several warehouse issues, more quickly and accurately than a human can and also simplify complex procedures and speed up work.</li>
											<li>AI-based automated tools can ensure smarter planning and efficient warehouse management, which can enhance worker and material safety </li>
										</ul>
										<p><a href="supply-chain-logistics.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="manufacturing" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/manufacturing.jpg"
                                     alt="Manufacturing" title="Manufacturing"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Manufacturing</h4>
										<ul class="ullist">
											<li>Predictive maintenance allows companies to predict when machines need maintenance with high accuracy, instead of guessing or performing preventive maintenance</li>
											<li>Machine vision allows machines to “see” the products on the production line and spot any imperfections. </li>
											<li>Prediction of failure modes,Generative design,Robotics</li>
										</ul>
										<p><a href="manufacturing.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="retail" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/retail.jpg"
                                     alt="Retail" title="Retail"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Retail</h4>
										<ul class="ullist">
											<li>Artificial intelligence can automate in-store operations and reduce operational expenses in retail stores</li>
											<li>Artificial intelligence solutions in retail can effortlessly improve customer engagement by building interactive chat programs </li>
											<li>Flexibility Of Price Adjustments, Personalization And Customer Insights,Intelligent Product Searches</li>
										</ul>
										<p><a href="retail.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="telecommunications" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/telecommunication.jpg"
                                    alt="Telecom" title="Telecom"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Telecom</h4>
										<ul class="ullist">
											<li>By applying data science and building an AI platform, telecoms can evaluate the customer experience, measured by a performance index, and predicts the potential for bad experiences </li>
											<li>AI models learn why customers reach out to their service providers and can predict when a customer will make a contact, allowing the telecom to take proactive action</li>
											<li>An AI model built around a telecom’s products, their customers and customer behavior gives salespeople recommendations for next best offers</li>
										</ul>
										<p><a href="telecom.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="automobile" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/automobile.jpg"
                                     alt="Automobile" title="Automobile"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Automobile</h4>
										<ul class="ullist">
											<li>Driverless cars were the part of science fiction movies in the past, but now it would be seen in our day to day lives all thanks to artificial intelligence.</li>
											<li>Predictive maintenance,Repair scheduling,Identification of performance issues,Using smart sensors to identify medical emergencies,Automatic toll collection</li>
											<li>Cognitive systems are assumed to work similar to a human which would interpret the real-life situations and work accordingly</li>
										</ul>
										<p><a href="automotive-industry.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="education" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/education.jpg"
                                    alt="Education" title="Education"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Education</h4>
										<ul class="ullist">
											<li>Artificial Intelligence is one of the disruptive techniques to customize the experience of different learning groups, teachers, and tutors</li>
											<li>Artificial Intelligence helps find out what a student does and does not know, building a personalized study schedule for each learner considering the knowledge gaps.</li>
											<li>New ways of perceiving information, such as visualization, simulation, web-based study environments, can be powered by AI</li>
										</ul>
										<p><a href="education.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="insurance" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/insurance.jpg"
                                 alt="Insurance" title="Insurance"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Insurance</h4>
										<ul class="ullist">
											<li>To combat fraud, insurers are using AI-driven predictive analytics software to process thousands of claims each month..</li>
											<li>Insurance companies are also enhancing customer profiling with AI-enabled voice and facial recognition, which helps create biological customer profiles for fast and accurate verification</li>
											<li>Insurers are now using advanced analytics and machine learning,to get a more holistic view of risk, as well as to determine which submissions to review in the first place</li>
										</ul>
										<p><a href="insurance.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="marketing" class="tab-pane fade">
						<div class="induinfo">
							<div class="row">
								<div class="col-md-5"><img src="../../assets/images/marketing.jpg"
                                     alt="Marketing" title="Marketing"></div>
								<div class="col-md-7">
									<div class="pad_l30">
										<h4>Marketing</h4>
										<ul class="ullist">
											<li>AI-enhanced PPC advertising,Highly personalized website experience and better CRO</li>
											<li>AI Algorithms can map a subscriber’s website experience and email browsing data to understand all the individual’s interactions with your content. This knowledge allows the algorithm to identify hyper-contextual content to create one-on-one personalized emails.</li>
											<li>Churn prediction and smart customer engagement,AI-powered customer insights</li>
										</ul>
										<p><a href="ai-marketing.html">View More</a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>